@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@800&display=swap");

.brandName {
  font-family: "Bodoni Moda", serif;
  font-size: 35px;
  left: -50px;
  justify-content: center;
}
